/* Write your CSS here */
.image1 {
  height: 200px;
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  border-radius: 20px;
  background-size: cover;
}
.container {
  height: 100vh;
  margin: 20px;
}
.richard {
  padding-top: 50px;
  padding-left: 40px;
}
.para {
  padding-left: 40px;
}
.para2 {
  color: blue;
  font-weight: bold;
}
.details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  margin-top: 70px;
  padding: 20px;
  border-radius: 10px;
}
.con {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.btn-text {
  background-color: #06b6d4;
  color: white;
  margin-top: 20px;
  padding: 10px;
}
.form-container2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.history {
  display: flex;
  justify-content: space-around;
  border: solid 1px black;
  width: 500px;
}
.history-container {
  border: solid 1px black;
  width: 800px;
  height: 300px;
  margin-top: 70px;
  padding: 30px;
}
